.u-margin {
  &-top {
    margin-top: var(--spacing-base);

    &--big {
      margin-top: var(--spacing-big);
    }
  }

  &-bottom {
    margin-bottom: var(--spacing-base);

    &--big {
      margin-bottom: var(--spacing-big);
    }
  }

  &-left {
    margin-left: var(--spacing-base);

    &--big {
      margin-left: var(--spacing-big);
    }
  }

  &-right {
    margin-right: var(--spacing-base);

    &--big {
      margin-right: var(--spacing-big);
    }
  }
}
