.u-margin-top {
  margin-top: var(--spacing-base);
}

.u-margin-bottom {
  margin-bottom: var(--spacing-base);
}

.u-margin-left {
  margin-left: var(--spacing-base);
}

.u-margin-right {
  margin-right: var(--spacing-base);
}
