/* Headings */

%headings {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: var(--font-weight-bold);
  line-height: $headings-line-height;
  color: $headings-color;
  text-transform: none;
}

@include headings {
  @extend %headings;
}

h1,
.h1 {
  font-family: var(--font-family-secondary);
}
