@use 'sass:color';
@use 'sass:list';
@use 'sass:math';
@use 'sass:string';

@mixin gradient($startColor: $color-black, $direction: 'to bottom') {
  $scrimCoordinates: (
    0: 1,
    15.6: .987,
    28.9: .951,
    40.3: .896,
    49.8: .825,
    57.7: .741,
    64.3: .648,
    69.7: .55,
    74.3: .45,
    78.2: .352,
    81.6: .259,
    84.8: .175,
    88.1: .104,
    91.5: .049,
    95.4: .013,
    100: 0
  );

  $stops: ();

  @each $colorStop, $alphaValue in $scrimCoordinates {
    $stop: color.change($startColor, $alpha: $alphaValue) math.percentage(math.div($colorStop, 100));
    $stops: list.append($stops, $stop, comma);
  }

  background: linear-gradient(string.unquote($direction), $stops);
}
