/*  Base Config */

:root {
  --font-family-sans-serif: 'Arial', sans-serif;
  --font-family-serif: 'Times New Roman', times, serif;
  --font-family-monospace: 'Courier New', courier, monospace;
}

// Type
$default-font-size: 16px;
$font-size-base: rem(22px);
$line-height-base: 1.8;
$font-family-sans-serif: var(--font-family-sans-serif);
$font-family-serif: var(--font-family-serif);
$font-family-monospace: var(--font-family-monospace);
$font-family-base: $font-family-sans-serif;
// (optional) Responsive font size options
$rfs-minimum-font-size: $default-font-size;
$rfs-base-font-size: $default-font-size;

// Headings
$headings-margin-bottom: .5em;
$headings-font-family: $font-family-base;
$headings-font-weight: bold;
$headings-line-height: 1;
$headings-color: theme-color(light);

// Body
$body-bg: theme-color(dark);
$body-color: theme-color(light);

// Links
$link-color: theme-color(primary);
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: underline;

// Utils
$u-spacer-max-value: 100px;
