/*  Base Config */

$open-sans: 'Open Sans', sans-serif;

:root {
  // Text
  --font-family-base: #{$open-sans};
  --font-family-secondary: #{$open-sans};
  --font-family-monospace: 'Courier New', courier, monospace;
  --font-weight-bold: 600;

  // Margins and padding
  --spacing-base: 24px;
  --spacing-lg: 50px;
  --spacing-xl: 100px;

  // buttons
  --button-height: 62px;
  --button-border-radius: 31px;
  --button-padding: 55px;
  --button-color: #{$white};
  --button-background-color: #{$kelp};
  --button-hover-color: #{$black};

  // anchors
  --anchor-color: $kelp;

  // actions
  --action-font-weight: bold;
}

// Type
$default-font-size: 16px;
$font-size-base: rem(18px);
$line-height-base: 1.8;
$font-family-monospace: var(--font-family-monospace);
$font-family-base: var(--font-family-base);
// (optional) Responsive font size options
$rfs-minimum-font-size: $default-font-size;
$rfs-base-font-size: $default-font-size;

// Headings
$headings-margin-bottom: .5em;
$headings-font-family: $font-family-base;
$headings-font-weight: bold;
$headings-line-height: 1;
$headings-color: theme-color(dark);

// Body
$body-bg: theme-color(tertiary);
$body-color: theme-color(dark);

// Utils
$u-spacer-max-value: 100px;

// Buttons
$button-height: var(--button-height);
$button-padding: var(--button-padding);
$button-border-radius: var(--button-border-radius);
$button-color: var(--button-color);
$button-background-color: var(--button-background-color);
$button-hover-color: var(--button-hover-color);

// Actions
$action-font-weight: var(--action-font-weight);

// Anchor
$anchor-color: var(--anchor-color);
