/*  Base Config */

$open-sans: 'Open Sans', sans-serif;

:root {
  // Text
  --font-family-base: #{$open-sans};
  --font-family-secondary: #{$open-sans};
  --font-family-monospace: 'Courier New', courier, monospace;
  --font-weight-bold: 600;

  // Headings
  --headings-margin-bottom: .5em;
  --headings-font-family: $font-family-base;
  --headings-font-weight: bold;
  --headings-line-height: 1;

  // Margins and padding
  --spacing-sm: 12px;
  --spacing-md: 24px;
  --spacing-lg: 50px;
  --spacing-xl: 100px;

  // buttons
  --button-height: 62px;
  --button-border-radius: 31px;
  --button-padding: 55px;
  --button-color: #{$white};
  --button-background-color: #{$kelp};
  --button-hover-color: #{$black};

  // messages
  --message-height: var(--button-height);
  --message-border-radius: var(--button-border-radius);
  --message-padding: var(--button-padding);

  // Inputs
  --input-padding: 4px 6px;
  --input-color: var(--color-secondary);
  --input-color-active: var(--color-primary);

  // anchors
  --anchor-color: $kelp;

  // actions
  --action-font-weight: bold;

  // menubar
  --menu-bar-height: 100px;
  --menu-bar-negative-height: -100px;
  --menu-bar-color: var(--color-tertiary);
  --menu-bar-link-color: var(--color-primary);
  --menu-bar-link-dropdown-color: var(--color-primary);
  --menu-bar-dropdown-color: var(--color-primary);
  --menu-bar-primary-dropdown-color: var(--color-light);
  --menu-bar-primary-dropdown-border-color: #e0dede;
  --menu-bar-primary-dropdown-border-radius: 5px;
  --menu-bar-primary-dropdown-font-size: 15px;
  --menu-bar-primary-dropdown-width: 310px;
  --menu-bar-primary-dropdown-padding: var(--spacing-sm);
  --menu-container-width: 1370px;
  --menu-overlay-width: 650px;
  --menu-logo-height: 100px;

  // Transitions
  --transition-base: all .2s ease-in-out;
  --transition-page: 1s;
  --transition-page-fast: .5s;

  // Footer
  --footer-color: var(--color-primary);
  --footer-link-color: var(--color-light);
}

// Type
$default-font-size: 16px;
$font-size-base: rem(18px);
$line-height-base: 1.8;
$font-family-monospace: var(--font-family-monospace);
$font-family-base: var(--font-family-base);
// (optional) Responsive font size options
$rfs-minimum-font-size: $default-font-size;
$rfs-base-font-size: $default-font-size;

// Headings
$headings-margin-bottom: var(--headings-margin-bottom);
$headings-font-family: var(--headings-font-family);
$headings-font-weight: var(--headings-font-weight);
$headings-line-height: var(--headings-line-height);
$headings-color: var(--color-primary);

// Body
$body-bg: var(--color-tertiary);
$body-color: var(--color-primary);

// Utils
$u-spacer-max-value: 100px;

// Buttons
$button-height: var(--button-height);
$button-padding: var(--button-padding);
$button-border-radius: var(--button-border-radius);
$button-color: var(--button-color);
$button-background-color: var(--button-background-color);
$button-hover-color: var(--button-hover-color);

// Actions
$action-font-weight: var(--action-font-weight);

// Anchor
$anchor-color: var(--anchor-color);

// Breakpoints
$grid-breakpoints: (
  xs: var(--breakpoint-xs),
  sm: var(--breakpoint-sm),
  md: var(--breakpoint-md),
  lg: var(--breakpoint-lg),
  xl: var(--breakpoint-xl),
);
