/* Document colors */

:root {
  --color-primary: #3a3f33;
  --color-secondary: #bfc1bd;
  --color-light: #fff;
  --color-dark: #000;
  --color-background: #f6eee2;
}

$primary: var(--color-primary) !default;
$secondary: var(--color-secondary) !default;
$light: var(--color-light) !default;
$dark: var(--color-dark) !default;
$background: var(--color-background) !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'light': $light,
    'dark': $dark,
    'background': $background
  ),
  $theme-colors
);
