/* Document colors */

$kelp: #3a3f33;
$grey: #bfc1bd;
$beige: #f6eee2;
$white: #fff;
$black: #000;
$red: #ff4848;
$green: #417505;

:root {
  --color-primary: #{$kelp};
  --color-secondary: #{$grey};
  --color-tertiary: #{$beige};
  --color-light: #{$white};
  --color-dark: #{$black};
  --color-danger: #{$red};
  --color-success: #{$green};
}

$primary: var(--color-primary) !default;
$secondary: var(--color-secondary) !default;
$tertiary: var(--color-tertiary) !default;
$light: var(--color-light) !default;
$dark: var(--color-dark) !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);
