/*
 * Document line heights
 * Usage: @include get-line-height(base);
 */

:root {
  --line-height-h1: 1;
  --line-height-h2: 1.28;
  --line-height-h3: 1.32;
  --line-height-h4: 1.52;
  --line-height-h5: 1.9;
  --line-height-h6: #{$line-height-base};
  --line-height-base: #{$line-height-base};
}

$line-heights: () !default;
$line-heights: map-merge(
  (
    'h1': var(--line-height-h1),
    'h2': var(--line-height-h2),
    'h3': var(--line-height-h3),
    'h4': var(--line-height-h4),
    'h5': var(--line-height-h5),
    'h6': var(--line-height-h6),
    'base': var(--line-height-base),
  ),
  $line-heights
);
